.comment-card {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  background: #1e2019;
  border: 1px solid #e2c044;
  border-radius: 1%;
  padding: 20px 20px;
  font-family: 'Libre Baskerville', serif;
  height: 90vh;
  z-index: 10;
  color: #e2c044;
}

.comment-img {
  width: 37.5rem;
  height: 37.5rem;
  border-radius: 1%;
  border: #e2c044 1px solid;
}

.comment-button {
  position: absolute;
  right: 30px;
  top: 30px;
  font-family: sans-serif;
  color: #e2c044;
  padding: 14px 20px;
  background-color: #1e2019;
  border-radius: 50%;
  font-weight: 800;
  cursor: pointer;
}

.img-x {
  padding: 0;
  height: 40vh;
  overflow: hidden;
}

.popnav {
  margin: 20px;
  padding: 12px;
  display: flex;
  gap: 200px;
}

.popnav-link {
  text-decoration: none;
  color: lightgray;
  font-family: sans-serif;
}

.former {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 40vh;
}

.former form {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 20px;
}

input[type="text"] {
  padding: 10px 20px;
}

input[type="button"] {
  padding: 10px 20px;
  background-color: #e2c044;
  color: #1e2019;
  border-radius: 1%;
  border: none;
  cursor: pointer;
}

.comment-button:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

.overflow {
  background-color: rgba(88, 123, 127, 0.5);
  backdrop-filter: blur(8px);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
