.displayReserv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5%;
}
.theform{
  display: grid;
place-items: center
}
.reser{
  padding-top: 3%;
  text-align: center;
}
