.main-section {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.food-card {
  width: 20%;
  display: inline-block;
  margin: 6%;
  margin-bottom: 0;
  margin-top: 0;
}

.food-card > img {
  width: 100%;
  border-radius: 2em;
}

.food-description {
  display: inline-block;
  width: 75%;
  font-family: cursive;
  color: #587b7f;
  font-size: medium;
}

.food-details-flex {
  display: flex;
  flex-direction: row;
}

.like-icon-counter {
  width: 25%;
  display: inline-block;
}

.like-button,
.like-counter {
  text-align: center;
}

.like-counter {
  font-size: x-large;
  color: #587b7f;
  font-family: 'Libre Baskerville', serif;
}

.like-button {
  display: block;
  margin: 0.25em;
  cursor: pointer;
}

.popup-buttons {
  margin: auto;
  width: 50%;
  display: block;
  height: 3em;
  margin-bottom: 1em;
}

.like-icon {
  color: #587b7f;
  transition: 1s ease;
}

.like-icon:hover {
  color: red;
  transform: scale(1.2);
  transition: 0.5s ease;
}

.btn-hover {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  font-family: cursive;
  color: #587b7f;
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  border-radius: 50px;
  opacity: 1;
  transition: 1s ease;
}

.btn-hover:hover {
  opacity: 0.5;
  color: red;
  transform: scale(1.2);
  transition: 0.5s ease;
}
