.food-card {
  width: 20%;
  display: inline-block;
  margin: 6%;
  margin-bottom: 0;
  margin-top: 0;
}

.food-card > img {
  width: 100%;
}

.food-description {
  display: inline-block;
  width: 75%;
}

.food-details-flex {
  display: flex;
  flex-direction: row;
}

.like-icon-counter {
  width: 25%;
  display: inline-block;
}

.like-button,
.like-counter {
  text-align: center;
}

.like-counter {
  font-size: x-large;
  color: #587b7f;
  font-family: 'Libre Baskerville', serif;
}

.like-button {
  display: block;
  margin: 0.25em;
}

.popup-buttons {
  margin: auto;
  width: 50%;
  display: block;
  height: 3em;
  margin-bottom: 2em;
}

.like-icon {
  color: #587b7f;
}
