.img-x {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1%;
}

.rever-description {
  text-align: center;
}

.reser-button {
  font-size: 50px;
  margin: 0;
  padding-right: 5%;
}

.resev-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.reserv-img {
  height: auto;
  padding-right: 5%;

}

.revervation-card {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.displayReserv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5%;
}

.theform {
  display: grid;
  place-items: center;
}

.reser {
  padding-top: 3%;
  text-align: center;
}
