.revervation-card {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  background: #1e2019;
  border: 1px solid #e2c044;
  border-radius: 1%;
  padding: 20px 20px;
  font-family: 'Libre Baskerville', serif;
  height: 90vh;
  z-index: 10;
  color: #e2c044;
}

.reserv-img {
  width: 37.5rem;
  border-radius: 1%;
  border: #e2c044 1px solid;
  height: auto;
  padding-right: 5%;
}

.reser-button {
  position: absolute;
  right: 30px;
  top: 30px;
  font-family: sans-serif;
  color: #e2c044;
  padding: 14px 20px;
  background-color: #1e2019;
  border-radius: 50%;
  font-weight: 800;
  cursor: pointer;
}

.reservation-card {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.img-x {
  padding: 0;
  height: 40vh;
  overflow: hidden;
}

.displayReserv {
  display: inline-block;
  width: 49%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5%;
}

.theform {
  display: inline-block;
  place-items: center;
  width: 49%;
}

.reser {
  padding-top: 3%;
  text-align: center;
}
