.greeting {
  color: blue;
}

.footer-content {
  font-size: x-large;
  color: whitesmoke;
  background-color: #1e2019;
}

.footer-text {
  /* You can add your fonts and text settings here To CAKE ----> from TINAYE */
  margin-left: 1em;
}
